/* index css */
html,
body {
    background: white;
    font-family: verdana, geneva, sans-serif;
    font-size: 9.3px;
    -webkit-font-smoothing: antialiased;
}

div {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
    
.site {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: auto;
  min-width: 900px;
  text-align: center;
}
.logo-container {
  z-index: 3;
}
.logo {
  width: 150px;
  margin-top: 50px;
  z-index: 5;
}
.navbar {
  display: inline-block;
  margin-top: 20px;
  z-index: 0;
}
.news {
  display: block;
  margin-top: 50px;
}
.leftnews {
  display: inline-block;
  position: absolute;
  right: 50%;
  margin-right: 240px;
  text-align: right;
}
.footer {
  width: 700px;
  margin-top: 50px;
}

/* music css */

.navbarmusic {
  display: inline-block;
  margin-top: 100px;
  z-index: 0;
}
.soundcloud {
  margin-top: 50px;
  z-index: 0;
}

/* shop css */

.navbarshop {
  display: inline-block;
  margin-top: 100px;
  z-index: 0;
}

p {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: none;
  margin-top: 60px;
  z-index: 0;
}

/* music css */

.navbarcontact {
  display: inline-block;
  margin-top: 100px;
  z-index: 0;
}

/* links */

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
}


/* music keyframes */

@keyframes navmusicFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes soundcloudFadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* shop keyframes */

@keyframes navshopFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* contact keyframes */

@keyframes contactFadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* index animations */

.logo {
  animation-name: logoSlideLeft;
  animation-duration: 1s;
  transition-timing-function: cubic-bezier(0, 0.73, 0.95, 1);
}
.navbar {
  animation-name: navSlideDown;
  animation-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.78, 0.03, 0.76, 0.77);
}
#news {
  animation-name: newsFadeIn;
  animation-duration: 3s;
}
.footer {
  animation-name: footerFadeIn;
  animation-duration: 3.5s;
}

/* music animations */

#navmusic {
  animation-name: navmusicFadeIn;
  animation-duration: 1s;
}
.soundcloud {
  animation-name: soundcloudFadeIn;
  animation-duration: 2.5s;
}

/* shop animations */

#navshop {
  animation-name: navmusicFadeIn;
  animation-duration: 1s;
}

/* contact animations */

#contact {
  animation-name: contactFadeIn;
  animation-duration: 3s;
}
